
header {
  height: 360px;

  background: #659cef; /* Old browsers */
  background: -moz-linear-gradient(left,  #659cef 0%, #04e058 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#659cef), color-stop(100%,#04e058)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #659cef 0%,#04e058 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #659cef 0%,#04e058 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #659cef 0%,#04e058 100%); /* IE10+ */
  background: linear-gradient(to right,  #659cef 0%,#04e058 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#659cef', endColorstr='#04e058',GradientType=1 ); /* IE6-9 */

}

header .info {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

header img.logo {
  width: 250px;
  margin-bottom: 1.875rem;
}

header h5 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.85rem;
  margin-bottom: 7px;
}

header .links {
  font-family: 'Montserrat', sans-serif;
  padding: 0.9375rem;
  position: fixed;
  right: 0;
}

header .version {
  font-family: 'Montserrat', sans-serif;
  padding: 0.9375rem;
  position: fixed;
  left: 0;
}

header .links img {
  width: 15px;
  margin-top: -3px;
}

header .links a {
  color: #000;
}


section {
  padding-top: 1.875rem;
}

h1, h2, h3, h4, h5, h6, label {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0.9375rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0.9375rem;
}

a {
  color: #659CEF;
}

a:hover {
  color: #659CEF;
}

label {
  display: inline-block;
}

.tabs .tab-title>a {
  font-family: 'Montserrat', sans-serif;
}

.tabs .tab-title.active>a {
  background-color: #659CEF;
  color: white;
}

.side-nav li a:not(.button) {
  color: #659CEF;
  padding: 0.5rem 0;
  font-family: 'Open Sans', sans-serif;
}

.side-nav li a:not(.button):hover {
  color: #659CEF;
}

ul {
  list-style-type: circle;
}

/*Class Definitions*/
.class-definition .page-header {
  margin-bottom: 1.875rem;
}

.uses {
  font-family: 'Open Sans', sans-serif;
}

.panel {
  margin-bottom: 1.875rem !important;
  border: none;
  background-color: whitesmoke;
}

.flag.private {
  color: #FF7878;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
}

.item .name {
  display: inline-block;
}

/*Method Specific*/

.method .args {
  display: inline-block;
}

ul.args-list {
  list-style-type: none;
  display: inline-block;
  margin: 0;
}

ul.args-list li.arg {
  display: inline;
}

ul.args-list li.arg::after {
  content: ",";
}


ul.args-list li.arg:last-of-type::after {
  content: "";
}

.type {
  color: #03c03c;
  font-family: 'Montserrat', sans-serif;
}

.returns-description p {
  display: inline-block;
}