<div class="apidocs">
  <div id="docs-main" class="content">
    <p>{{projectDescription}}</p>
    <br>

    <h5>Installing This Spree Ember Addon</h5>
    <p>We recommend installing Spree Ember into your Ember CLI app by using the main addon, Spree Ember.</p>
    <code>ember install:addon spree-ember</code>
    <p>Then follow the prompts in the generator to install the correct packages for your use case.</p>
    <br>

    <p>However, if you know what you're doing, and you only want the functionality from this addon, you can install it seperately, instead.</p>
    <code>ember install:addon {{projectName}}</code>
  </div>
</div>