<div id="sidepanel-classes" class="panel">
  <h3>Classes</h3>
  <ul class="side-nav">
    {{#publicClasses classes}}
      <li><a href="{{../projectRoot}}classes/{{name}}.html">{{displayName}}</a></li>
    {{/publicClasses}}
  </ul>
</div>

<div class="panel">
  <h3>Packages</h3>
  <ul class="side-nav">
    <li><a>Core</a></li>
    <li><a>Checkouts</a></li>
    <li><a>Frontend</a></li>
  </ul>
</div>