
header {
  height: 360px;

  background: #659cef; /* Old browsers */
  background: -moz-linear-gradient(left,  #659cef 0%, #04e058 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#659cef), color-stop(100%,#04e058)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #659cef 0%,#04e058 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #659cef 0%,#04e058 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #659cef 0%,#04e058 100%); /* IE10+ */
  background: linear-gradient(to right,  #659cef 0%,#04e058 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#659cef', endColorstr='#04e058',GradientType=1 ); /* IE6-9 */

}

header .info {
  position: relative;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  text-align: center;
}

header.homepage {
  height: 100vh;
}

header img.logo {
  width: 250px;
  margin-bottom: 1.875rem;
}

header h5 {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.85rem;
  margin-bottom: 7px;
}

header .links {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 0.9375rem;
  position: fixed;
  right: 0;
  font-weight: 700;
  z-index: 1;
}

header .links img {
  width: 15px;
  margin-top: -3px;
}

header .links a {
  color: #000;
}

header .links a:hover {
  border-bottom: 2px solid black;
}

#main-package-name {
  padding: 1.875rem;
  background-color: whitesmoke;
}

#docs-content {
  margin-top: 1.875rem;
}

#main-package-name h3 {
  margin: 0;
}

h1, h2, h3, h4, h5, label {
  font-family: 'Cabin', sans-serif;
  margin-bottom: 0.9375rem;
  margin-top: 0;
}

h6, p {
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 0.9375rem;
  line-height: 1.8;
}

ul {
  font-family: 'Source Sans Pro', sans-serif;
}

/*ul li {
  padding: 0.275rem 0;
}*/

a {
  color: #659CEF;
}

a:hover {
  color: #659CEF;
}

label {
  display: inline-block;
}

.tabs .tab-title>a {
  font-family: 'Cabin', sans-serif;
}

.tabs .tab-title.active>a {
  background-color: #659CEF;
  color: white;
}

.side-nav {
  padding: 0;
}

.side-nav li {
  margin: 0;
  font-size: 12px;
}

.side-nav li a:not(.button) {
  color: #659CEF;
  padding: 0.5rem 0.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: capitalize;
}

.side-nav li a:not(.button):hover {
  color: white;
  background-color: #659CEF;
}

ul {
  list-style-type: circle;
}

/*Class Definitions*/
.class-definition .page-header {
  margin-bottom: 1.875rem;
}

.uses {
  font-family: 'Source Sans Pro', sans-serif;
}

.panel {
  border: none;
  background-color: whitesmoke;
}

.panel pre {
  background-color: white;
}

.switch.private-toggle {
  margin-bottom: 14px;
}

.switch.private-toggle h6 {
  display: inline-block;
  left: 58px;
  top: -6px;
  position: absolute;
}

.switch input:checked+label {
  background-color: #659CEF;
}

.flag.private {
  color: #FF7878;
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
}

.item .name {
  display: inline-block;
}

.private {
  display: none;
}

ul.tabs {
  display: flex;
}

ul.tabs li.tab-title {
  flex-grow: 1;
  text-align: center;
}

/*Method Specific*/

.method .args {
  display: inline-block;
}

ul.args-list {
  list-style-type: none;
  display: inline-block;
  margin: 0;
}

ul.args-list li.arg {
  display: inline;
}

ul.args-list li.arg::after {
  content: ",";
}


ul.args-list li.arg:last-of-type::after {
  content: "";
}

.type {
  color: #03c03c;
  font-family: 'Cabin', sans-serif;
}

.returns-description p {
  display: inline-block;
}
